* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  background-color: #030404;
  overflow: hidden;
}

.extra {
  position: absolute;
  width: 100%;
  left: 0px;
  background-color: #7175976a;
  padding-block: 0.8rem;
  z-index: 100;
}

.menu {
  top: 0px;
  text-align: center;
  text-transform: uppercase;
}

.control {
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}

.sim-rate {
  background-color: #030404;
  border: none;
  outline: none;
  color: #7175976a;
  font-size: inherit;
  padding: 0.2rem;
}

.sim-days {
  color: #fff;
}

.viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.system {
  --radius: 25000px;
  position: absolute;
  width: var(--radius);
  height: var(--radius);
  left: 0px;
  top: 0px;
}

.system::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 50%;
  height: var(--radius);
  width: 1px;
  background-color: #ffffff20;
  transform: rotate(45deg);
}

.guide {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0%;
  width: var(--radius);
  height: 1px;
  background-color: #eeeeee15;
  scale: 1.1;
}

.guide-1 {
  transform: rotate(0deg);
  height: 5px;
}
.guide-2 {
  transform: rotate(15deg);
}
.guide-3 {
  transform: rotate(30deg);
}
.guide-4 {
  transform: rotate(45deg);
  height: 2px;
}
.guide-5 {
  transform: rotate(60deg);
}
.guide-6 {
  transform: rotate(75deg);
}
.guide-7 {
  transform: rotate(90deg);
  height: 5px;
}
.guide-8 {
  transform: rotate(105deg);
}
.guide-9 {
  transform: rotate(120deg);
}
.guide-10 {
  transform: rotate(135deg);
  height: 2px;
}
.guide-11 {
  transform: rotate(150deg);
}
.guide-12 {
  transform: rotate(165deg);
}
.guide-1 {
  transform: rotate(0deg);
}
.guide-1 {
  transform: rotate(0deg);
}


.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: calc(1400000 * var(--radius) / 4500000000 * 10);
  background-color: #ff9340;
  background-image: radial-gradient(#ff9340 #ff0070);
  border-radius: 1000rem;
  box-shadow: 0px 0px 20rem #ff9340;
  z-index: 10;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 10%;
  border-radius: 1000rem;
}

.orbit::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  border: solid 1px #ffffff20;
  border-radius: 1000rem;
}

.planet {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 1000rem;
  width: 0.5rem;
  background-color: #ffffff;
}

.planet::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 5000%;
  border: solid 1px #ffffffaa;
  border-radius: 1000rem;
}